---
name: Check code style
on:
  pull_request:
    paths:
      - "source/**"
      - ".github/workflows/clang-format.yml"
  push:
    paths:
      - "source/**"

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        if: github.ref != 'refs/heads/master'
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: "same_content"
          cancel_others: true

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Git (for auto-fix on push)
        if: ${{ github.event_name == 'push' }}
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions"

      - name: Run clang format lint (check only on PR)
        if: ${{ github.event_name == 'pull_request' }}
        uses: DoozyX/clang-format-lint-action@v0.16.2
        with:
          source: "source"
          extensions: "cpp,hpp,h"
          clangFormatVersion: 16
          inplace: false

      - name: Run clang format lint (auto-fix on push)
        if: ${{ github.event_name == 'push' }}
        uses: DoozyX/clang-format-lint-action@v0.16.2
        with:
          source: "source"
          extensions: "cpp,hpp,h"
          clangFormatVersion: 16
          inplace: true

      - name: Run add and commit (push only)
        if: ${{ github.event_name == 'push' }}
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: github-actions[bot]@users.noreply.github.com
          message: "Code format - (Clang-format)"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
